body {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
}

p {
    font-size: 14px;
}

h2 {
    text-align: center;
    font-weight: 800;
    font-size: 32px;

}

.container {

    width: 80%;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav-bar a {
    border: 1px solid #0D1321;
    color: #0D1321;
    border-radius: 10px;
    padding: 20px 80px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;

}

.header {
    background-image: url(./assets/Hero-bg.png);
}

.header-data {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    margin: auto;

}

.header-data h1 {
    font-size: 40px;
}


.header-data a {
    margin-top: 25px;
    border: 1px solid #0D1321;
    background-color: #0D1321;
    color: white;
    border-radius: 10px;
    padding: 20px 80px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
}

.why-web {
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: 80px 0;
    padding: 40px 0;

}

.web-content {
    text-align: center;
    width: 75%;
    margin: 0 auto;


}

.reason1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to right, #ffffff, #f1f1f1);

    width: 75%;
    margin: 30px auto;
    padding: 90px;

}

.reason-text {
    display: flex;
    flex-direction: column;
    width: 45%;

}

.reason1 p {

    margin-bottom: 30px;
}

.learn-more-btn {
    border: 1px solid #0D1321;
    color: #0D1321;
    padding: 15px 50px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    width: 115px;
}


.swipe {
    background: linear-gradient(to right, #f1f1f1, white);
}

.youtube-video {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 2px solid rgb(234, 234, 234);
    border-radius: 12px;
}

iframe {
    border: 2px solid rgb(234, 234, 234);
    border-radius: 12px;
    width: 100%;
    height: 614px;
}

.current-target {
    margin: 100px 0;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.html {
    background-color: #fff6f5;
}

.css {
    background-color: #e6eefd;
}

.javascript {
    background-color: #fffdf0;
}

.card h3 {
    text-align: left;
    font-size: 24px;
}

.card-details {
    margin: 30px 0;
}

.btn {
    color: #000105;
    font-weight: 600;

}

.support {
    text-align: center;
    margin: 20px;
    color: #ffffff;
    background-image: url('/assets/handshake.jpg');
    background-color: rgba(132, 130, 130, 0.507);
    background-position: center;
    background-color: #f0f0f0;
    height: auto;
    border-radius: 10px;
}

.support-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    padding: 50px 0;

}

.support p {
    width: 50%;
    margin: auto;
}

form input[type="submit"] {
    font-size: 17px;
    padding: 18px 40px;
    font-weight: bold;
    color: #0D1321;
    background-color: #ffffff;
    border: none;
    border-radius: 0 5px 5px 0;
    margin-left: -4px;
}

form input::placeholder {
    color: rgb(233, 233, 233);
    opacity: 1;
}

form input[type="text"] {
    padding: 18px 40px;
    font-size: 17px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: rgba(160, 150, 150, 0.507)
}

footer {
    background-color: #f1f1f1;

}

.footer-data {
    width: 75%;
    font-size: 20px;
    margin: 60px auto auto auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    align-items: center;

}

.social-icons a {
    margin: 10px;
}